$black: #000;
$white: #fff;
$yellow: #fcc16e;
$color-text: #707070;
$redBordeaux: #A02639;
$whitish: #f4f3ef;
$gray: #d8d4d5;
$pink: #ff00cc;
$slightlyPink: #ff6d80;
$green: #006e5b;
$violet: #5c27ab;
$brown: #9a7214;
$purple: #ebefff;
$paleBrown: #cbac9d;
$primary-color: #CB1515;
$secondary-color: #000;
